<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>坏开开</title>
  <link href="https://fonts.googleapis.com/css?family=Righteous&display=swap" rel="stylesheet"/>
  <link rel="stylesheet" href="/css/50x.min.css">
</head>
<body>
<div class="moon"></div>
<div class="moon__crater moon__crater1"></div>
<div class="moon__crater moon__crater2"></div>
<div class="moon__crater moon__crater3"></div>
<div class="star star1"></div>
<div class="star star2"></div>
<div class="star star3"></div>
<div class="star star4"></div>
<div class="star star5"></div>
<div class="error">
  <div class="error__title">500</div>
  <div>
    <div class="error__subtitle">惊喜和意外</div>
  </div>
  <div>
    <div class="error__subtitle">你永远不知哪个会更进一步！</div>
  </div>
  <div>
    <div class="error__description">Emmmm...貌似出了点问题~</div>
  </div>
  <button class="error__button">小意外，不用担心啦~ </button>
</div>
<div class="astronaut">
  <div class="astronaut__backpack"></div>
  <div class="astronaut__body"></div>
  <div class="astronaut__body__chest"></div>
  <div class="astronaut__arm-left1"></div>
  <div class="astronaut__arm-left2"></div>
  <div class="astronaut__arm-right1"></div>
  <div class="astronaut__arm-right2"></div>
  <div class="astronaut__arm-thumb-left"></div>
  <div class="astronaut__arm-thumb-right"></div>
  <div class="astronaut__leg-left"></div>
  <div class="astronaut__leg-right"></div>
  <div class="astronaut__foot-left"></div>
  <div class="astronaut__foot-right"></div>
  <div class="astronaut__wrist-left"></div>
  <div class="astronaut__wrist-right"></div>
  <div class="astronaut__cord">
    <canvas id="cord" height="500px" width="500px"></canvas>
  </div>
  <div class="astronaut__head">
    <canvas id="visor" width="60px" height="60px"></canvas>
    <div class="astronaut__head-visor-flare1"></div>
    <div class="astronaut__head-visor-flare2"></div>
  </div>
</div>
</body>
<script src="/js/4050x.min.js"></script>
</html>
