:root{
	--min-width: 700px;
}
body, html {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		margin: 0;
		padding: 0;
}
#background {
		position: fixed;
		top: 0;
		left: 0;
		z-index: -100;
}
._80_width{
	margin: 70px auto 0;
	width: 60%;
	opacity: 0.7;
	user-select: text;
	overflow: auto;
	min-height: 500px;
}
._80_width::-webkit-scrollbar{
	width: 1px;
}
._80_width::-webkit-scrollbar-button{
	width: 1px;
}
.container{
	margin: 70px auto 0;
	width: 500px;
	opacity: 0.7;
	user-select: none;
	overflow: visible;
}

.pc_show_block, .pc_show_inline, .mobile_show_inline, .mobile_show_block{
	display: none;
}

@media (min-width: 701px){
	.pc_show_inline{
		display: inline-block;
	}
	.pc_show_block{
		display: block;
	}
}
@media (max-width: 700px){
	.mobile_show_inline{
		display: inline-block;
	}
	.mobile_show_block{
		display: block;
	}
	.container{
		margin: 0;
		width: 100%;
		height: 100%;
		border-radius: 0;
		border: none;
	}
}
#logo{
	height: 100px;
	width: 100px;
	margin: 0 auto;
	background-image: url("http://resource.bestbigkk.com/group1/M00/00/00/L16Br137NeaAe4GGAAAwiy3Jq9I849.svg");
	background-size: cover;
	border-radius: 50%;
	border: lightskyblue 2px solid;
}
#form{
	width: 80%;
	margin: 0 auto;
}
@media (max-width: 700px){
	#logo{
		height: 70px;
		width: 70px;
	}
	#form{
    	width: 100%;
    	text-align: center;
    	margin: 0 auto;
    }
}
.center{
	margin: 5px auto;
	text-align: center;
}
.half-width{
	width: 50%;
}
#upload-btn{
	margin: 10px auto;
}
.el-upload-list{
	max-height: 250px;
	overflow: auto;
}
.el-upload-list::-webkit-scrollbar{
	width: 1px;
}
.el-upload-list::-webkit-scrollbar-button{
	width: 1px;
}
.hand{
	cursor: pointer;
}
#historyList{
	min-height: 200px;
}
.el-table{
	max-height: 700px;
	overflow: scroll;
}
.el-table::-webkit-scrollbar{
	width: 1px;
}
.el-table::-webkit-scrollbar-button{
	width: 1px;
}
.el-notification__content{
	word-break:break-all
}
@media (max-width: 700px){
	#historyList{
		width: 100%;
		height: 100%;
	}
	._80_width{
		margin: 0;
		width: 100%;
		opacity: 0.7;
		user-select: text;
		overflow: auto;
		max-height: 9999px;
		border: none;
	}
}

#m_empty{
	text-align: center;
	font-size: 15px;
	color: darkgray;
	line-height: 200px;
	user-select: none;
}
.m_ls{
	word-break: break-all;
	border-bottom: 1px lightgray solid;
	margin-top: 5px;
}
.m_his_list{
	max-height: 600px;
	overflow: scroll;
}
.m_his_list::-webkit-scrollbar{
	width: 1px;
}
.m_his_list::-webkit-scrollbar-button{
	width: 1px;
}
.m_ls_url .el-link{
	display:block;
	word-break: break-all;
	font-size: 15px;
	color: darkgray;
	user-select: text;
}
.m_ls_op{
	margin: 5px 0;
	text-align: right;
}